

<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
		<div class="col-md-9 well" role="main">
			<div id="top" class="bs-docs-section">
				<br/>
				<br/>
				<h3>OpenHealthTools - OpenXDS 建置</h3>
				<p>
				
				</p>
			</div>
			
			<div id="step01" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 01. 下載 SQL </h3>
				<ul>
					<li><a th:href="@{/resources/openhealthtools/openxds.mysql.sql}" target="_blank">MySQL</a></li>
					<li><a th:href="@{/resources/openhealthtools/openxds.oracle.sql}" target="_blank">Oracle Database</a></li>
					<li><a th:href="@{/resources/openhealthtools/openxds.sqlserver2005.sql}" target="_blank">SQLServer2005</a></li>
					<li><a th:href="@{/resources/openhealthtools/openxds.postgres.sql}" target="_blank">PostgresSQL</a></li>
				</ul>
			</div>
			
			<div id="step02" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 02. 下載 <a th:href="@{/resources/openhealthtools/openxds.war}" target="_blank">openxds.war</a></h3>
			</div>
			
			<div id="step03" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 03. 匯入SQL 至資料庫</h3>
			</div>
			
			<div id="step04" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 04. 發布 openxds.war 至 Tomcat</h3>
				<p>
					需求 Java 7 Tomcat7 
				</p>
			</div>
			
			<div id="step05" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 05. 資料庫連接設定組態</h3>
			</div>
			
			<div id="step051" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 05-1. 憑證設定組態</h3>
			</div>
			
			<div id="step06" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 06. 啟動 openxds</h3>
				移動至 http://localhost:8080/openxds-web/ ，選擇 Configuration 標籤頁
				<ol>
					<li>Browse IheActors.xml 路徑，將 C:\fakepath\IheActors.xml修改為正確的路徑，例如<br/> C:\Program1\Apache\apache-tomcat-7.0.54\webapps\openxds-web\WEB-INF\classes\conf\actors\IheActors.xml </li>
					<li>點擊 LoadActors</li>
					<li>勾選  'XDS Registry', 'XDS Repository'</li>
					<li>最後在最下面，點擊 start 啟動鈕</li>
				</ol>
				<a th:href="@{http://i.imgur.com/bxYwaYH.png}" target="_blank">
					<img class="col-md-12" alt="" th:src="@{http://i.imgur.com/bxYwaYH.png}" />
				</a>
			</div>
			
			<div id="step07" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 07. 服務端口</h3>
				<a href="http://localhost:8020/axis2/services/xdsrepositoryb?wsdl">http://localhost:8020/axis2/services/xdsrepositoryb?wsdl</a> <br/>
				<a href="http://localhost:8020/axis2/services/xdsregistryb?wsdl">http://localhost:8020/axis2/services/xdsregistryb?wsdl</a>
			</div>
		</div>
		
		<div class="col-md-3" role="complementary" >
			<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
				<br/>
				<br/>
				<ul class="nav">
					<li><a href="#top">OpenHealthTools - OpenXDS</a></li>
					<li><a href="#step01">Step 01. 下載 SQL</a></li>
					<li><a href="#step02">Step 02. 下載 openxds.war</a></li>
					<li><a href="#step03">Step 03. 匯入SQL 至資料庫</a></li>
					<li><a href="#step04">Step 04. 發布 openxds.war</a></li>
					<li><a href="#step05">Step 05. 資料庫連接設定組態</a></li>
					<li><a href="#step051">Step 05-1. 憑證設定組態</a></li>
					<li><a href="#step06">Step 06. 啟動 openxds</a></li>
					<li><a href="#step07">Step 07. 服務端口</a></li>
				</ul>
				<a class="back-to-top" href="#top"> Back to top </a>
			</nav>
		</div>
	</div>
</div>
