



<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
	
<h3>No Peer</h3>
<table id="tableNoPeer" border="1">
    <tr style="background-color: #ccccff">
        <td id="tdNoPeerProfile" style="text-align: center" colspan="6"><a href="../IHE/Profile.aspx?id=38">XDS.b</a></td>
    </tr>
    <tr>
        <td>名称</td>
        <td><a href="../IHE/Actor.aspx?id=26">DOC_REPOSITORY</a></td>
        <td><a href="../IHE/Actor.aspx?id=25">DOC_REGISTRY</a></td>
        <td><a href="../IHE/Actor.aspx?id=24">DOC_CONSUMER</a></td>
        <td><a href="../IHE/Actor.aspx?id=27">DOC_SOURCE</a></td>
        <td><a href="../IHE/Actor.aspx?id=37">PAT_IDENTITY_SRC</a></td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=206">XDS.b_Cons_homeCommunityID</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=220">XDS.b_Registry_Folder_Handling</a></td>
        <td>&nbsp;</td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<br />
<h3>Peer To Peer</h3>
<table id="tablePeerToPeer" border="1">
    <tr style="background-color: #ccccff">
        <td id="tdPeerToPeerProfile" style="text-align: center" colspan="6"><a href="../IHE/Profile.aspx?id=38">XDS.b</a></td>
    </tr>
    <tr>
        <td>名称</td>
        <td><a href="../IHE/Actor.aspx?id=26">DOC_REPOSITORY</a></td>
        <td><a href="../IHE/Actor.aspx?id=25">DOC_REGISTRY</a></td>
        <td><a href="../IHE/Actor.aspx?id=24">DOC_CONSUMER</a></td>
        <td><a href="../IHE/Actor.aspx?id=27">DOC_SOURCE</a></td>
        <td><a href="../IHE/Actor.aspx?id=37">PAT_IDENTITY_SRC</a></td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=195">XDS.a_Doc_Source_Stores_Documen</a></td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=200">XDS.a_Integrated_Source_Registers_Document</a></td>
        <td>&nbsp;</td>
        <td>O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=207">XDS.b_Consumer_QR_Async</a></td>
        <td>RO</td>
        <td>RO</td>
        <td>RO</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=208">XDS.b_Consumer_QR_with_Proxy</a></td>
        <td>RO</td>
        <td>RO</td>
        <td>RO</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=209">XDS.b_Consumer_Query_Retrieve</a></td>
        <td>R</td>
        <td>R</td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=210">XDS.b_Doc_Source_Stores_Async</a></td>
        <td>RO</td>
        <td>RO</td>
        <td>&nbsp;</td>
        <td>RO</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=211">XDS.b_Doc_Source_Stores_Document</a></td>
        <td>R</td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>R</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=212">XDS.b_Doc_Source_Stores_with_Proxy</a></td>
        <td>RO</td>
        <td>RO</td>
        <td>&nbsp;</td>
        <td>RO</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=213">XDS.b_Error_Reporting</a></td>
        <td>R</td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>O</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=214">XDS.b_Folder_Management</a></td>
        <td>O</td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>R</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=215">XDS.b_Integrated_Repository_Options</a></td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=216">XDS.b_Integrated_Repository_Retrieve</a></td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=217">XDS.b_Integrated_Source_Registers_Document</a></td>
        <td>R</td>
        <td>O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=218">XDS.b_Patient_Feed_HL7v2</a></td>
        <td>O</td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>R</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=219">XDS.b_Patient_Feed_HL7v3</a></td>
        <td>O</td>
        <td>RO</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>RO</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=221">XDS.b_Repository_Registry_Lifecycle</a></td>
        <td>O</td>
        <td>R</td>
        <td>&nbsp;</td>
        <td>R</td>
        <td>&nbsp;</td>
    </tr>
</table>
<br />
<h3>Group</h3>
<table id="tableGroup" border="1">
    <tr style="background-color: #ccccff">
        <td id="tdGroupProfile" style="text-align: center" colspan="6"><a href="../IHE/Profile.aspx?id=38">XDS.b</a></td>
    </tr>
    <tr>
        <td>名称</td>
        <td><a href="../IHE/Actor.aspx?id=26">DOC_REPOSITORY</a></td>
        <td><a href="../IHE/Actor.aspx?id=25">DOC_REGISTRY</a></td>
        <td><a href="../IHE/Actor.aspx?id=24">DOC_CONSUMER</a></td>
        <td><a href="../IHE/Actor.aspx?id=27">DOC_SOURCE</a></td>
        <td><a href="../IHE/Actor.aspx?id=37">PAT_IDENTITY_SRC</a></td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=222">XDSb_Workflow_PDQ</a></td>
        <td>R</td>
        <td>R</td>
        <td>R</td>
        <td>R</td>
        <td>R</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=223">XDSb_Workflow_PIX</a></td>
        <td>R</td>
        <td>R</td>
        <td>R</td>
        <td>R</td>
        <td>R</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=225">XDSI_Load_DICOM_Instances-XDSb</a></td>
        <td>O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=228">XDSI_Load_PDF_Report-XDSb</a></td>
        <td>O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=230">XDSI_Load_Text_Report-XDSb</a></td>
        <td>O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=235">XDSI_Retrieveb_DICOM_CMove_or_WADO</a></td>
        <td>O</td>
        <td>O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="TestInfor.aspx?id=237">XDSI_Retrieveb_Text_Report</a></td>
        <td>O</td>
        <td>O</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
	
	
	</div>
</div>
