

<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
		<h3>Step 01. 前置作業</h3>
		<ul>
			<li>設定 <a th:href="@{/applicationdev/java/}">Java 環境變數</a>)</li>
			<li>下載： <a href="http://tomcat.apache.org/download-70.cgi">Tomcat 7</a></li>
			<li>安裝：以 64 位元舉例, 解壓縮 apache-tomcat-6.0.44-windows-x64.zip 即可</li>
		</ul>
		<h3>Step 02. 啟動</h3>
		<ul>
			<li>到目錄 bin/ 執行 startup.bat啟動成功最後會出現, "資訊; Server startup in xxxx ms "</li>
			<li>請至瀏覽器, 輸入 "http://localhost:8080/" 網址, 若有出現一隻貓的網頁則成功執行 Tomcat Server</li>
		</ul>
		<h3>Step 03. 發布網站</h3>
		<ul>
			<li>將 .war 檔案，複製到 webapps</li>
			<li>重新啟動 tomcat </li>
		</ul>
		<h3>
			Option. 
			<a href="http://gaduo-chien-blog.logdown.com/posts/2013/07/18/write-a-java-web-page-program-first-step-how-to-set-up-tomcat">
				其他資訊 
			</a>
		</h3>
	</div>
</div>
