

<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
		<h2>Dev. Environment - Java SE Development Kit 7 (JDK)</h2>
		
		<div class="col-md-9 well" role="main">
		
			<div id="top" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Java 安裝</h3>
				<p>
				</p>
			</div>
		
			<div id="step01" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 01. 下載&amp;安裝</h3>
				<ul>
					<li>
						<a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html">
							Java SE Development Kit 7 (JDK)
						</a>
					</li>
				</ul>
				<ul>
					<li>Java Runtime Environment ：Java 程式在執行的虛擬機器</li>
					<li>Java Development Kit：開發 Java 程式時需要的開發工具, 包含函式庫等</li>
				</ul>	
			</div>
		
			<div id="step02" class="bs-docs-section">
				<br/>
				<br/>
				<h3>Step 02. 設定環境變數</h3>
				<ul>
					<li>(1) "我的電腦" 上點擊"右鍵"</li>
					<li>(2) "內容"</li>
					<li>(3) 左邊的進階系統設定</li>
					<li>(4) 在  "進階" 標籤點選 "環境變數"</li>
					<li>(5) 新增兩個 "系統變數": </li>
					<li>(6-1) JAVA_HOME:依照你的 "JDK" 資料夾路徑放置 "變數值", 變數名稱為 " JAVA_HOME",  點選確定</li>
					<li>(6-2) JRE_HOME:依照你的 "JRE" 資料夾路徑放置 "變數值", 變數名稱為 "JRE_HOME" ,  點選確定</li>
					<li>(6-3) 編輯 "系統變數"  Path : </li>	
					<li>找到 Path 點選 "編輯",  變數值原有的內容不刪除更動,  將游標移動到最後貼上 ";%JAVA_HOME%\bin;%JRE_HOME%\bin;"</li>
					<li>以分號 ";" 區隔分別為 , (6-3-1)  %JAVA_HOME%\bin; , (6-3-2)  %JRE_HOME %\bin;</li>
					<li>完成後依序點選確定 </li>
				</ul>
				<img alt="" src="http://i.imgur.com/MoeXfzb.png" class="col-sm-12"/>
			</div>
		</div>
		<div class="col-md-3" role="complementary" >
			<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
				<br/>
				<br/>
				<ul class="nav">
					<li><a href="#top">Java 安裝</a></li>
					<li><a href="#step01">Step 01. 下載&amp;安裝</a></li>
					<li><a href="#step02">Step 02. 設定環境變數</a></li>
				</ul>
				<a class="back-to-top" href="#top"> Back to top </a>
			</nav>
		</div>
	</div>
</div>
