

<script th:inline="javascript" th:fragment="javascript">
	/*<![CDATA[*/
	$(function() {	
		
	});

	/*]]>*/
</script>

<div th:fragment="content">
	<div class="container bs-docs-container">
		<h3>ITI-18:查詢註冊資訊 - Retrieve Document Set</h3>
		<h5>範例說明：</h5>
		<p>
			提供一個交易模式，將後面 大類的交易細節填寫至 "put some code after/replace here" 之後。<br/>
			endpoint 為 Registry 位置，可測試於 http://ihexds.nist.gov:12090/tf6/services/xdsrepositoryb?wsdl。	
		</p>
		<script src="https://gist.github.com/Gaduo/acce2f820438c66a511e.js"></script>
	
	</div>
</div>
