<!-- Fixed navbar -->
<div class="container" th:fragment="header">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" th:href="@{/}">Healthcare</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a th:href="@{/Download/#top}"><span class="octicon octicon-cloud-download"></span>Download</a></li>
			<li>
				<a th:href="@{https://github.com/Gaduo/IHE-IT-Infrastructure}" target="_blank">
					<span class="octicon octicon-mark-github"></span>Github Project
				</a>
			</li>
			<li class="dropdown">
				<a th:href="@{/IHEConnectathon/}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="octicon octicon-book"></span>
					Documentation
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown-header">Application Dev.</li>
					<li class="dropdown-header">XDS JAVA API</li>
					<li class="dropdown-header">01. XDS Document Source</li>
					<li><a th:href="@{/ApiExample/pnr/#top}"> - ITI-41:Provide And Registry DocumentSet</a></li>
					<li class="dropdown-header">02. XDS Document Consumer</li>
					<li><a th:href="@{/ApiExample/sq/#top}"> - ITI-18:Registry Stored Query</a></li>
					<li><a th:href="@{/ApiExample/ret/#top}"> - ITI-43:Retrieve DocumentSet</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">MHD Restful API</li>
					<li><a href="#">01. MHD Document Consumenr</a></li>
					<li><a href="#">02. MHD Document Source</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">AffinityDomain</li>
					<li><a th:href="@{/AffinityDomain/#top}"> - Codes.xml</a></li>
				
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">安裝開發環境</li>
					<li><a th:href="@{/DevEnvironment/java/#top}">Step 01. Java 安裝</a></li>
					<li><a th:href="@{/DevEnvironment/tomcat/#top}">Step 02. Tomcat 安裝</a></li>
					<!-- <li><a th:href="@{/DevEnvironment/maven/}">Step 03. Apache Maven</a></li> -->
					
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Server 架設</li>
					<li><a th:href="@{/DevEnvironment/openxds/#top}">01. OpenXDS 建置</a></li>
					<!-- li><a th:href="@{/DevEnvironment/openpixpdq/}">02. OpenPIXPDQ</a></li>
					<li><a th:href="@{/DevEnvironment/openatna/}">03. OpenATNA</a></li -->
					
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">IHE Connectathon</li>
					<li><a th:href="@{/IHEConnectathon/endpoints/}">服務端口 Endpoints</a></li>
					<li><a th:href="@{/IHEConnectathon/preconnect/}">前測 Pre-Connectathon</a></li>
					<li><a th:href="@{/IHEConnectathon/ihec/}">IHE-C 聯測 IHE-C Connectathon</a></li>
				</ul>
			</li>
			<li><a th:href="@{/Contact/}">Contact</a></li>
		</ul>
	</div>
	<!--/.nav-collapse -->
</div>
	
